<!-- landing-page.component.html -->

<div class="landing-container">
  <nav>
    <img src="/Expenselogo.png" alt="" srcset="">
    <div class="btndivs">
      <button  (click)="navigateToSignup()">Sign up</button>
    <button  (click)="navigateTologin()">Sign in</button>
    </div>
  </nav>
    <header class="hero-section">
      <div class="hero-content">
        <h1>Save money, <br> without thinking <br> about it.</h1>
        <p>BudgetBuddy analyzez your spending and <br> automatically saves the perfect amount <br> every day so you dont have to think about it</p>
        <button (click)="navigateToSignup()">Get Started</button>
      </div>
      <div class="heroimg">
        <img src="/report.png" alt="">
      </div>
    </header>
  
    <section class="features">
      <div class="feature">
        <h2>Track Your Expenses</h2>
        <p>Keep an eye on where your money goes every month. Categorize and track each expense.</p>
      </div>
      <div class="feature">
        <h2>Set Budgets</h2>
        <p>Set budgets for various categories and get reminders when you're close to exceeding limits.</p>
      </div>
      <div class="feature">
        <h2>Generate Reports</h2>
        <p>Generate visual reports that show your spending habits and savings trends.</p>
      </div>
    </section>
  
    <footer class="footer">
      <p>&copy; 2025 Expense Tracker. All rights reserved.</p>
    </footer>
  </div>
  